<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <header><%- include('./partials/nav.ejs') %></header>
    <div class="container">
      <section>
                   
        <h1><%= blog.title %></h1>
        <div class="flex">
            <p><%= blog.body %></p>
            <a id="delete" data-doc="<%= blog._id %>">Delete</a>
          </div>

        </div>
      </section>
    </div>
    <%- include('./partials/footer.ejs') %>


    <script>
        const del = document.querySelector('#delete');

        del.addEventListener('click' , (e) => {
            const endPoint = `/blogs/${del.dataset.doc}`

            
            fetch(endPoint , {
              method : 'DELETE'
            })
            .then((response) => response.json())
            .then((data) => window.location.href = data.redirect)
            .catch((error) => console.log(error))
        })
    </script>
  </body>
</html>
